table,
th,
td {
	border-collapse: separate;
	border-spacing: 2px;
	border-style: solid;
	border-width: thin;
	color: black;
}

table {
	background: blueviolet;
}

tr {
	background: rgb(255, 255, 255);
}

thead {
	height: 35px;
}

th {
	width: 150px;
	cursor: pointer;
}

th:last-child {
	width: 30px;
	cursor: default;
}

tr {
	cursor: grab;
}

th,
td {
	padding: 5px;
	resize: both;
	overflow: auto;
}

.crossButton {
	height: 24px;
	width: 24px;
	padding: 0;
	cursor: pointer;
}

.crossButton:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px blueviolet;
}

tfoot td {
	background-color: blueviolet;
}
