.container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.buttonsWrap {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.button,
.createButton {
	height: 40px;
	width: 150px;
	background-color: rgb(42, 116, 201);
	border-radius: 4px;
	border-color: rgb(189, 119, 255);
	cursor: pointer;
	position: relative;
	overflow-x: hidden;
}

.button:hover,
.createButton:hover {
	transform: scale(1.1);
	background-color: rgb(252, 83, 252);
	box-shadow: 2px 2px 15px rgb(171, 80, 255);
}

.createButton {
	height: 40px;
	width: 40px;
}

.button .flare {
	position: absolute;
	top: 0;
	height: 100%;
	width: 45px;
	transform: skewX(-45deg);
	animation: flareAnimation;
	left: -150%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	animation: flareAnimation 3s infinite linear;
}

.iconWrap {
	width: 250px;
	height: 20px;
}

@keyframes flareAnimation {
	0% {
		left: -150%;
	}
	100% {
		left: 150%;
	}
}

@media (max-width: 420px) {
	.container {
		font-size: 12px;
	}
	.buttonsWrap {
		flex-direction: column;
		align-items: center;
	}
}
