.container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

form {
	width: 100%;
}

.fields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
}

.button {
	margin-top: 20px;
	height: 40px;
	width: 150px;
	background-color: rgb(42, 116, 201);
	border-radius: 4px;
	border-color: blueviolet;
	cursor: pointer;
}

.button:hover {
	transform: scale(1.1);
	background-color: rgb(252, 83, 252);
	box-shadow: 2px 2px 15px rgb(171, 80, 255);
}

.buttonDisabled {
	opacity: 0.5;
	cursor: default;
}

.button.buttonDisabled:hover {
	box-shadow: none;
	transform: none;
}

.icon {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 20px;
	cursor: pointer;
}

@media (max-width: 500px) {
	.fields {
		width: 100%;
		padding: 0 10px;
	}
}
